<p>grid-list works!</p>

<mat-grid-list cols="2"  rowHeight="fit" style="height: 100px;" gutterSize="20px">
    <mat-grid-tile style="background-color: aquamarine;"  rowspan="2">
            home
    </mat-grid-tile >
    <mat-grid-tile style="background-color: aquamarine;">
            about
    </mat-grid-tile>
    <mat-grid-tile style="background-color: aquamarine;">
            services
    </mat-grid-tile>
    <mat-grid-tile style="background-color: aquamarine;">
            settings
    </mat-grid-tile>
</mat-grid-list>

