<p>badges works!</p>
<div>
    <span matBadge="5">notification</span>
</div>
<div>
    <span matBadge="5" matBadgePosition="above after">notification</span>
</div>
<div>
    <span matBadge="5" matBadgePosition="above before">notification</span>
</div>
<div>
    <span matBadge="5" matBadgePosition="below after">notification</span>
</div>
<div>
    <span matBadge="5" matBadgePosition="below before">notification</span>
</div>

<div>
    <span matBadge="5" matBadgeColor="accent">notification</span>
   
</div>
<div>
    <span matBadge="5" matBadgeColor="primary">notification</span>
   
</div>
<div>
    <span matBadge="5" matBadgeColor="warn">notification</span>
   
</div>

<div>
    <span [matBadge]="notification" matBadgeColor="accent" >notification</span>
   
</div>
<div>
    <span [matBadge]="noti1" matBadgeColor="accent" [matBadgeHidden]="noti1==0">notification</span>
   
</div>
<div>
    <span matBadge="5" matBadgeColor="accent" matBadgeSize="large">notification</span>
   
</div>
<div>
    <span matBadge="5" matBadgeColor="accent" matBadgeSize="medium">notification</span>
   
</div>
<div>
    <span matBadge="5" matBadgeColor="accent" matBadgeSize="small">notification</span>
   
</div>



