<p>list works!</p>

<mat-list dense>
    <mat-list-item>sabari</mat-list-item>
    <mat-list-item>kumar</mat-list-item>
</mat-list>

<mat-nav-list>
    <a href="#" mat-list-item>home</a>
    <a href="#"  mat-list-item>services</a>
</mat-nav-list>


<mat-list>
    <mat-list-item>
        <mat-icon matListItemIcon>home</mat-icon>
        <h1 matListItemLine>heading</h1>
        <p matListItemLine>line1</p>
    </mat-list-item>
    <mat-divider matListItemLine></mat-divider>
    <mat-list-item>
        <mat-icon matListItemIcon>home</mat-icon>
        <h1 matListItemLine>heading2</h1>
        <p matListItemLine>line2</p>
    </mat-list-item>
</mat-list>

